@font-face {
    font-family: 'fairy';
    src: url('../resources/fontes/fairydustb/FairyDustB.ttf');
}

body {
    margin: 0;
    background-image: url(../resources/images/floresta/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
div.desk{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
}
.cell{
    display: none;
}


/* Container do carrossel */
.container{
    width: 62%;
    overflow: hidden;
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px ;
}


/*////// Main ////*/

.component{

    display: flex;
    transition: transform 0.5s ease;

}



/*///// botão ////*/
.button {
    width: 100%;
    background-color: #ca7834;
    color: #cef2b3;
    cursor: pointer;
    padding: 0.8em 2em;
    border: none;
    transition: 0.2s;
    text-decoration: none;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}



.button:hover {
    box-shadow: 0rem 0.25rem #8B4513;
    background-color: #5c2e0d;
    color: #79bf34;
}



.component {
    display: flex;
    flex-direction: row;
    gap: 15px;
}



.component .book button {
    font-size: 1em;
    font-weight: 700;
}


.component .book:hover {
    transform: scale(1.2, 1.2);
}

.component:hover > .book:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}



#theme-toggle {
    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */

    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

i.theme{
    color: #fff; /* Cor dos ícones */
    font-size: 20px; /* Tamanho dos ícones */
    transition: color 0.3s ease; /* Transição suave para a cor do ícone */
}

.icon-list button i:hover {
    color: #f39c12; /* Cor dos ícones quando o mouse passa sobre eles */
}

/* Estilos do tema escuro */
body.dark {
    margin: 0;
    background-image: url(../resources/images/floresta/darktheme.jpg);
    background-position: center;
    background-size: cover;

    height: 100vh;
}

.navbar.dark {
    background: linear-gradient(45deg, rgba(45, 7, 140, 0.95), rgba(244, 238, 238, 0.93), rgba(28, 59, 116, 0.75));
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;

}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.cover.dark{
    background-color: #321c39;
}

.prev, .next {
    background-color: #D9843B; /* Fundo claro semi-transparente */
    color: #cef2b3; /* Cor do texto escura */
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    transition: all 0.3s ease;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para destaque */
}

/* Estilo do botão prev */
.prev {
    left: 0px; /* Posição à esquerda */
}

/* Estilo do botão next */
.next {
    right: 0px; /* Posição à direita */
}

/* Estilo ao passar o mouse */
.prev:hover, .next:hover {
    background-color: #8c3807; /* Fundo escuro ao passar o mouse */
    color: #79bf34; /* Texto claro ao passar o mouse */
    transform: translateY(-50%) scale(1.1); /* Suave aumento no tamanho */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.container-alerta {
    display: none;
    text-align: center;
    background-color: #8c3807;
    border: 5px solid #D9843B;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-alerta img {
    width: 100px;
    height: auto;
}

.container-alerta-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 2px solid #D9843B;
    padding-right: 20px;
    width: 100%;
}

.container-alerta p {
    font-size: 18px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.container-alerta h1 {
    color: #79bf34;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Exibe a div quando a largura da tela for menor que 1024px */
@media (max-width: 1024px) {
    .container-alerta {
        display: block;
    }

    /* Oculta o conteúdo principal do site */
    body > *:not(.container-alerta) {
        display: none;
    }
}