@font-face {
    font-family: 'fairy';
    src: url('../resources/fontes/fairydustb/FairyDustB.ttf');
}

body {
    margin: 0;
    background-image: url(../resources/images/floresta/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
div.desk{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cell{
    display: none;
}


/* Container do carrossel */
.container{
    width: 62%;
    overflow: hidden;
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px ;
}

/* Estilização da barra de navegação */
.navbar {

    background: linear-gradient(45deg, #8c3807f1, #ee8e56ee, #8c3807f1);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Espaçamento interno */
    position: fixed; /* Fixar a barra de navegação no topo da página */
    width: 100%; /* Ocupa toda a largura da página */
    top: 0; /* Posiciona no topo da página */
    height: 30px;
    z-index: 1000; /* Garante que a barra de navegação fique sobre outros elementos */
    display: flex; /* Usa flexbox para layout */
    justify-content: space-between; /* Espaça os itens para que fiquem nos extremos */
    align-items: center; /* Alinha verticalmente */
    margin-bottom: 30px;

}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* Estilização da lista de links de navegação */
.nav-list {
    list-style-type: none; /* Remove os marcadores dos itens da lista */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    display: flex; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha verticalmente */
}

.nav-list li {
    margin: 0 15px; /* Espaçamento entre os itens */
}

.nav-list a {
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
}

.nav-list img {
    max-height: 50px; /* Ajuste o tamanho da imagem */
}
nav a{
    text-decoration: none;
    color: #fff;


}
nav a.logo{
    font-size: 30px;
    font-family: fairy;
}
nav img{
    width: 50px;
    height: 50px;
}
/* Estilização dos ícones */
.icon-list {
    list-style-type: none; /* Remove os marcadores dos itens da lista */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    display: flex; /* Alinha os ícones horizontalmente */
    margin-left: 30px; /* Move a lista de ícones para o lado direito */
}

.icon-list li {
    margin: 0 10px; /* Espaçamento entre os ícones */
}

.icon-list a {
    color: #fff; /* Cor dos ícones */
    margin: 5px;
    font-size: 17px; /* Tamanho dos ícones */
    transition: color 0.3s ease; /* Transição suave para a cor do ícone */
}
a:hover {
    color: #f39c12; /* Cor dos ícones quando o mouse passa sobre eles */
}
/*////// Main ////*/

.component{

    display: flex;
    transition: transform 0.5s ease;

}
/*/////// Livro ////////*/

.book {
    position: relative;
    border-radius: 3px;
    width: 266px;
    height: 420px;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-position-x: 40%;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    margin: 20px;
    transition: 400ms;
    cursor: pointer;
    box-shadow:  6px 10px 16px rgba(41, 40, 40, 0.75);
    border-left: solid 8px #6a4d26;
}

.cover {
    top: 0;
    position: absolute;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-position-x: 30%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-84deg);
    -ms-transform: rotatey(-84deg);
    transform: rotatey(-84deg);
}

p {
    font-size: 20px;
    font-weight: bolder;
}
.xadrezB{
    background-image: url(../resources/images/floresta/temas_recompensa/xadtema.jpg);
}
.xadrez{
    background-image: url(../resources/images/capas_jogos/capa_xadrez.jpg);
}
.velhaB{
    background-image: url('../resources/images/floresta/temas_recompensa/velhafloresta.jfif');
}
.velha{
    background-image: url('../resources/images/capas_jogos/capa_velha.jpg');
}
.amorB{
    background-image: url('../resources/images/floresta/temas_recompensa/amor.jfif');
}
.amor {
    background-image: url('../resources/images/capas_jogos/test_love.jpg');
}
.spaceB {
    background-image: url('../resources/images/floresta/interior_nut.jpg');
}
.space{
    background-image: url('../resources/images/capas_jogos/capanut.jpg');
}
.sudoku{
    background-image: url('../resources/images/capas_jogos/2.jpg');
}
.sudokuB{
    background-image: url('../resources/images/floresta/fundosudoku.jpg');
}
.dogrunB{
    background-image: url('../resources/images/floresta/floresta_dog.jpg');
}
.dogrun {
    background-image: url('../resources/images/capas_jogos/capa_dog.jpg');
}

.vampB{
    background-image: url('../resources/images/floresta/DALL·E 2024-09-27 10.36.43 - A dark, gothic forest at night with towering trees and thick mist. In the background, there is a large, glowing full moon illuminating the eerie scene.webp    ');
}
.vamp{
    background-image: url('../resources/images/capas_jogos/capa_vlad.jpg');
}
.tetrisB{
    background-image: url('../resources/images/floresta/floresta tetris.jpg');
}
.tetris{
    background-image: url('../resources/images/capas_jogos/capa_tetris.jpg');
}
.macaB{
    background-image: url('../resources/images/floresta/floresta_maca.jpg');
}
.maca{
    background-image: url('../resources/images/capas_jogos/capa_maca.jpg');
    background-position: center;
    background-size: contain!important;

}
.tesouroB{
    background-image: url('../resources/images/floresta/tesouro.jpg');
}
.tesouro{
    background-image: url('../resources/images/capas_jogos/capa_Caca.jpg');
}
.pingB{
    background-image: url('../resources/images/floresta/floresta_pong.jpg');
}
.ping {
    background-image: url('../resources/images/capas_jogos/capa_ping.jpg');
}
.pirateB{
    background-image: url('../resources/images/floresta/piratas.jpg');
}
.pirate{
    background-image: url('../resources/images/capas_jogos/moedacapa.jpg');
}


/*///// botão ////*/
.button {
    width: 100%;
    background-color: #ca7834;
    color: #cef2b3;
    cursor: pointer;
    padding: 0.8em 2em;
    border: none;
    transition: 0.2s;
    text-decoration: none;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}



.button:hover {
    box-shadow: 0rem 0.25rem #8B4513;
    background-color: #5c2e0d;
    color: #79bf34;
}



.component {
    display: flex;
    flex-direction: row;
    gap: 15px;
}



.component .book button {
    font-size: 1em;
    font-weight: 700;
}


.component .book:hover {
    transform: scale(1.2, 1.2);
}

.component:hover > .book:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}



#theme-toggle {
    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */

    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

i.theme{
    color: #fff; /* Cor dos ícones */
    font-size: 20px; /* Tamanho dos ícones */
    transition: color 0.3s ease; /* Transição suave para a cor do ícone */
}

.icon-list button i:hover {
    color: #f39c12; /* Cor dos ícones quando o mouse passa sobre eles */
}

/* Estilos do tema escuro */
body.dark {
    margin: 0;
    background-image: url(../resources/images/floresta/darktheme.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar.dark {
    background: linear-gradient(45deg, rgba(45, 7, 140, 0.95), rgba(244, 238, 238, 0.93), rgba(28, 59, 116, 0.75));
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.cover.dark{
    background-color: #321c39;
}

.prev, .next {
    background-color: #D9843B; /* Fundo claro semi-transparente */
    color: #cef2b3; /* Cor do texto escura */
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    transition: all 0.3s ease;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para destaque */
}

/* Estilo do botão prev */
.prev {
    left: 0px; /* Posição à esquerda */
}

/* Estilo do botão next */
.next {
    right: 0px; /* Posição à direita */
}

/* Estilo ao passar o mouse */
.prev:hover, .next:hover {
    background-color: #8c3807; /* Fundo escuro ao passar o mouse */
    color: #79bf34; /* Texto claro ao passar o mouse */
    transform: translateY(-50%) scale(1.1); /* Suave aumento no tamanho */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.container-alerta {
    display: none;
    text-align: center;
    background-color: #8c3807;
    border: 5px solid #D9843B;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-alerta img {
    width: 100px;
    height: auto;
}

.container-alerta-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 2px solid #D9843B;
    padding-right: 20px;
    width: 100%;
}

.container-alerta p {
    font-size: 18px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.container-alerta h1 {
    color: #79bf34;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Exibe a div quando a largura da tela for menor que 1024px */
@media (max-width: 1024px) {
    .container-alerta {
        display: block;
    }

    /* Oculta o conteúdo principal do site */
    body > *:not(.container-alerta) {
        display: none;
    }
}