/* Importação de fonte personalizada */
@font-face {
    font-family: 'vampires';
    src: url('../resources/fontes/vampires/Vampires.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #710000;
    --secondary-color: #591B1F;
    --text-color: #EBE5EF;
    --hover-color: #591b1f86;
    --background-dark: rgba(0, 0, 0, 0.8);
}

nav {
    background-color: var(--primary-color);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-image: url('../resources/images/fundo_jogos/casteloVamp.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    margin: 0;
    height: 100vh;
}

h1 {
    font-family: 'vampires';
    font-size: 3rem;
    margin-top: 80px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 120px);
    overflow: hidden;
}

canvas {
    border: 5px solid var(--secondary-color);
    background-color: rgba(50, 34, 52, 0.55);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    max-height: 100%;
    object-fit: contain;
}

#carImage {
    width: 50px;
    height: 100px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(113, 0, 0, 0.42);
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 250px;
    max-height: calc(100vh - 120px);
    overflow: hidden;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background: linear-gradient(45deg, #797979, #7a797b);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px 0;
    transition: transform 0.3s, background 0.3s;
}

button:hover {
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    transform: scale(1.05);
}

button.difficulty-button.active {
    background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color));
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-dark);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.modal-content {
    color: var(--text-color);
    text-align: center;
}

.modal-content h2 {
    font-size: 2rem;
}

.modal-content p {
    font-size: 1.2rem;
}

.modal-content button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}
