* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url('../../../static/resources/images/fundo_jogos/fundo_dogg.jpg') repeat-x; /* Adicione a imagem de fundo */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;

}
.ngc {
  position: fixed; /* Fixa o NGC na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Preto com opacidade 50% */
  pointer-events: none; /* Permite interações com elementos abaixo */
}
nav {
  width: 100%;
  background-color: #2A857E;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav button {
  margin: 0 15px;
  padding: 10px 30px;
  background-color: #F58433;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav button:hover {
  background-color: #ec731d;
}

#gameArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('') repeat-x; /* Adicione a imagem de fundo */
  animation: moveBackground 20s linear infinite; /* Movimento de fundo */
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2000px 0; /* Ajuste para a largura do fundo */
  }
}

#character {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("imagens/dog.png");
  bottom: 0;
  left: 50px;

  background-size: cover;
}


#score {
  position: fixed;
  top: 130px;
  right: 50px;
  font-size: 24px;
  background-color: #F58433;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal styles */
.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed; /* Fica fixo na tela */
  z-index: 1; /* Fica acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Largura total da tela */
  height: 100%; /* Altura total da tela */
  overflow: auto; /* Permite rolagem se necessário */
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro e transparente */
  padding: 20px; /* Espaçamento interno */
}

.modal-content {
  background-color: #fefefe; /* Fundo claro para o conteúdo */
  margin: 15% auto; /* Margem superior e centralização */
  padding: 20px; /* Espaçamento interno */
  border: 1px solid #888; /* Borda cinza */
  width: 80%; /* Largura responsiva do modal */
  max-width: 500px; /* Largura máxima do modal */
  border-radius: 8px; /* Bordas arredondadas */
  text-align: center; /* Centraliza o texto */
}

.close {
  color: #aaa; /* Cor do botão de fechar */
  float: right; /* Alinha à direita */
  font-size: 28px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
}

.close:hover,
.close:focus {
  color: black; /* Muda a cor ao passar o mouse */
  text-decoration: none; /* Remove o sublinhado */
  cursor: pointer; /* Muda o cursor para pointer */
}

button {
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para pointer */
  font-size: 16px; /* Tamanho da fonte */
  margin-top: 15px; /* Margem superior */
}

button:hover {
  background-color: #45a049; /* Muda a cor ao passar o mouse */
}


/* Estilo para a imagem dentro do modal */
.modal-content img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

#restartGameButton {
  padding: 10px 20px;
  background-color: #ffa340;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#restartGameButton:hover {
  background-color: #2A857E;
  transform: translateY(-2px);
}

#restartGameButton:active {
  transform: translateY(0);
}
.obstacle {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: #8BC34A;
  border-radius: 5px;
  animation: moveObstacle 2s linear infinite;
}

@keyframes moveObstacle {
  0% {
    left: 100%;
  }
  100% {
    left: -50px;
  }
}
#gameArea {
  position: relative;
  top: 250px;
  width: 80%;
  height: 300px;
  border-radius: 15px;
  background-color: #70ccfa; /* Fundo azul */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}




